.listWrapper {
  position: relative;
  display: grid;
  /* grid-template-columns: repeat(2, 500px); */
  grid-template-columns: repeat(2, minmax(300px, 500px));
  justify-content: center;
  align-items: start;
  gap: 100px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(150px, auto);
  align-items: start;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.glowingStripe {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0; /* начальная ширина */
  height: 5px;
  border-radius: 50px;
  box-shadow: 0 0 15px #007bff, 0 0 30px #007bff, 0 0 45px #007bff;
  background: linear-gradient(to right, #fff, #007bff, #fff);
  transition: width 1s ease-in-out; /* Плавное изменение ширины */
  transform: rotate(90deg);
  transform-origin: left center;
}

@media (max-width: 800px) {
  .listWrapper {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
