.makdakHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding: 0 400px; */
}

.listWrapper {
  display: grid;
  /* grid-template-columns: repeat(2, 700px); */
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.list {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 300px); */
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  margin: 0;
  padding: 0;
}
