.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.themeButton {
  margin-left: auto;
}
