.itemTextContainer {
  display: -webkit-box;
  width: 100%;
  max-height: 6em; /* Высота для 3 строк (1.5em * 3) */
  overflow: hidden;
  -webkit-line-clamp: 4; /* Ограничение в 3 строки */
  -webkit-box-orient: vertical;
}

.itemText {
  overflow-wrap: break-word;
  word-wrap: break-word; /* Перенос длинных слов */
}
