.card {
  /* max-width: 345px; */
  height: 100%;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .MuiCardContent-root {
  padding: 16px;
}

.card .MuiTypography-h6 {
  font-weight: bold;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.montazh {
  border-color: #ff5900;
}

.fullName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
