.man {
  /* position: relative; */
}

.head {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 50px;
  border-radius: 20px;
  background-color: #fff;
}

.left-hand {
  position: absolute;
  top: -30px;
  width: 5px;
  height: 40px;
  background-color: red;
  animation: hands 1s ease-in-out infinite;
}

.legs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-leg {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 5px;
  height: 40px;
  background-color: red;
}

@keyframes hands {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
