.itemWrapper {
  height: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto;
  max-height: 200px; /* Ограничение по высоте */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis; /* Добавление многоточия */
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* animation: fadeInArrow 0.5s ease-out forwards; */
  cursor: pointer;
}

.item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

.itemArrow {
  align-self: center;
  padding: 0;
  opacity: 0;
}

.item:hover .itemArrow {
  opacity: 1;
  animation: fadeInArrow 0.5s ease-out forwards;
}

.itemArrow:focus {
  outline: none;
}

.itemArrow:focus-within {
  outline: none;
}

.itemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* .itemId {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  border-radius: 10px;
  color: #fff;
  background-color: #066a69;
} */

/* .itemStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 30px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 12px;
} */

/* .status-ready {
  background-color: #caffe7;
}

.status-pending {
  background-color: #fdedbb;
} */

.itemButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-template-rows: 1fr;
  justify-content: end;
  align-items: center; */
  width: 100%;
}

/* .itemTextContainer {
  display: -webkit-box;
  width: 100%;
  max-height: 6em; 
  overflow: hidden;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
} */

/* .itemText {
  overflow-wrap: break-word;
  word-wrap: break-word; 
} */

.itemTextField textarea::-webkit-scrollbar {
  display: none;
}

/* .itemTextContainer {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-overflow: ellipsis;
} */

/* .itemName {
  width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
} */

/* .itemDone:focus {
  outline: none;
}

.itemDone:focus-within {
  outline: none;
}

.itemDone:hover {
  animation: colorDoneButton 0.2s ease-in-out forwards;
} */

/* .itemDeleteButton:hover {
  animation: colorDeleteButton 0.2s ease-in-out forwards;
}

.itemDeleteButton:focus {
  outline: none;
}

.itemDeleteButton:focus-within {
  outline: none;
} */
.itemNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item h3 {
  margin: 0;
  color: #333;
  font-size: 1.5rem;
}

.item p {
  color: #555;
  font-size: 1rem;
}

.item .order-text {
  margin: 0;
  color: #333;
  font-size: 1.1rem;
}

.itemCollapse {
  width: 100%;
}

.ModalBox:focus {
  border: none;
  outline: none;
}

.itemFadeOut {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeInArrow {
  0% {
    opacity: 0; /* Начальное состояние (невидимая) */
  }
  100% {
    opacity: 1; /* Конечное состояние (видимая) */
  }
}

@keyframes colorDeleteButton {
  0% {
    color: #000; /* Начальное состояние (невидимая) */
  }
  100% {
    color: red; /* Конечное состояние (видимая) */
  }
}

@keyframes colorDoneButton {
  0% {
    color: #000; /* Начальное состояние (невидимая) */
  }
  100% {
    color: #096667; /* Конечное состояние (видимая) */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
