*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  box-sizing: border-box;
  width: 100%;
  max-width: 1500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
