.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.2s ease !important;
  cursor: pointer;
}
.card:hover {
  border-color: #007bff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.02) !important;
}

.montazhCard {
  border-color: #ff5900;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemId {
  font-weight: bold;
  font-size: 1.5rem;
}

.itemName {
  max-width: 200px;
  overflow: hidden;
  font-size: 1.2rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* max-width: 100%; */
}

.itemStatus {
  display: flex;
  align-items: center;
}

.itemButtons {
  display: flex;
  gap: 5px;
}

.itemReady {
  color: green !important;
}

.itemReady:focus {
  outline: none;
}

.itemReady:focus-within {
  outline: none;
}

.itemDone {
  transition: color 0.3s ease !important;
}

.itemDone:hover {
  color: green;
}

.itemDeleteButton {
  transition: color 0.3s ease !important;
}

.itemDeleteButton:hover {
  color: red;
}

.ModalBox {
  /* width: 500px; */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 24px;
  background-color: var(--background-paper);
}

.ModalBox:focus {
  outline: none;
}

.ModalBox:focus-within {
  outline: none;
}

.itemTextField {
  width: 100%;
  min-height: 300px;
  padding: 12px;
  font-size: 1.1rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.scrollBarTheme {
  scrollbar-width: thin;
  scrollbar-color: #007bff #f1f1f1; /* Цвет полосы прокрутки и фона */
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1; /* Цвет фона полосы прокрутки */
  }
  &::-webkit-scrollbar-thumb {
    border: 3px solid #f1f1f1; /* Отступ и цвет фона полосы прокрутки */
    border-radius: 10px;
    background-color: #007bff; /* Цвет полосы прокрутки */
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
  }
}
